.splash{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
}
.splash-text{
    display: flex;
    flex-direction: row;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.splash-text p{
    color: #007A5E;
    font-weight: 850;
    font-size: 28px;
}
.splash-icon{
    font-size: 28px;
}
.landing{
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 0;
    height: 100vh;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
}
@media (min-width: 768px){
    .resume-sample img{
        height: 500px;
        width: 500px;
    }
    
}
